<!DOCTYPE html>
<html>
<head>
    <title><%= h title %></title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <%= stylesheet_link_tag 'theme.css' %>
</head>

<body>
    <div id="navigation_menu">
        <ul id="nav_left">
            <li><a href="/">Home</a></li>
            <li><a href="/ocean">Ocean</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/codes">Codes</a></li>
            <li><a href="/flows/search!">Search</a></li>
        </ul>

        <ul id="nav_center">
            <li><a style="text-decoration: none;" href="/ocean/new/flow">start flowing</a></li>
            <li><a style="text-decoration: none;" href="/codes/new">paste code</a></li>
        </ul>

        <ul id="nav_right">
            <% if !current_user %>
                <li><span class="username">Anonymous</span></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% else %>
                <li><a href="/flows/following">Following</a></li>
                <li><span class="username"><a href="<%= user_path current_user %>"><%= current_user.name %></a></span></li>
                <li><a href="/users/edit/<%= current_user.id %>">Edit</a></li>
                <li> <a href="/logout">Logout</a></li>
            <% end %>
        </ul>
    </div>

    <div id="container">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
    </div>

    <div id="footer">
        <div style="position: absolute; top: 1px; left: 5px"><%= Time.now.to_s %></div>
        <div style="width: 100%; text-align: center;"><a href="/intro">introduzione a fag</a></div>
        <div style="position: absolute; top: 1px; right: 5px;">You know the <a href="/rules">rules</a> and so do I. <a href="/about">About?</a></div>
    </div>
</body>
</html>
