<% form_for(:session, :url => sessions_path) do |f| %>
    <%= f.error_messages %>

    <div class="field">
        <div class="label"><%= f.label :name %></div>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
        <div class="label"><%= f.label :password %></div>
        <%= f.password_field :password %>
    </div>

    <div class="actions">
        <%= f.submit "Sign in" %>
    </div>
<% end %>
