<% form_for(:drop, :url => '/flows/create') do |f| %>
    <%= f.error_messages %>

    <% if @type == 'flow' %>
        <div class="field">
            <div class="label"><%= f.label :title %></div>
            <%= f.text_field :title %>
        </div>
    <% end %>

    <div class="field">
        <div class="label"><%= f.label :name %></div>
        <%= f.text_field :name, @name_options%>
    </div>

    <div class="field">
        <div class="label"><%= f.label :content %></div>
        <%= f.text_area :content %>
    </div>

    <div class="actions">
        <%= f.submit 'Drop' %>
    </div>

    <input type="hidden" name="type" value="<%= @type %>"/>
    <input type="hidden" name="flow" value="<%= @flow %>"/>
<% end %>
