<div class="flow">
    <div class="title">
        <%= FlowsHelper.output :title, @flow %>
    </div>

    <div class="floats">
        <%= FlowsHelper.output :tags, @flow %>
    </div>

    <% if current_user && (current_user.modes[:can_edit_flow] || current_user.modes[:can_delete_flow]) %>
        <div class="manage">
            <% if current_user.modes[:can_edit_flow] %>
                <a href="/flows/edit/<%= @flow.id %>">Edit</a>
            <% end %>

            <% if current_user.modes[:can_delete_flow] %>
                <a href="/flows/delete/<%= @flow.id %>">Delete</a>
            <% end %>
        </div>
    <% end %>

    <% @flow.drops.each do |drop| %><div class="drop">
        <div class="user <%= UsersHelper.output :class, user(drop) %>">
            <%= gravatar_for drop.user if drop.user %>
            <span class="name"><%= UsersHelper.output :user, user(drop) %></span>

            <% if current_user && current_user.modes[:can_edit] %>

            <% end %>
        </div>

        <div class="content"><%= FlowsHelper.output :content, drop %></div>
    </div><% end %>

    <div class="reply right"><a class="reply" href="/flows/new/drop.<%= @flow.id %>">Reply</a></div>
</div>
