<div class="flow">
    <div class="title">
        <%= FlowsHelper.output :title, @flow %>
    </div>

    <div class="floats">
        <%= FlowsHelper.output :tags, @flow %>
    </div>

    <% @flow.drops.each do |drop| %><div class="drop">
        <div class="user <%= UsersHelper.output :class, user(drop) %>">
            <%= gravatar_for drop.user if drop.user %>
            <span class="name"><%= UsersHelper.output :user, user(drop) %></span>
        </div>

        <div class="content">
            <%= FlowsHelper.output :content, drop %>
        </div>
    </div><% end %>

    <div class="reply right"><a class="reply" href="/flows/new/drop.<%= @flow.id %>">Reply</a></div>
</div>
