<div class="flow"><% @flow.drops.each do |drop| %>
    <div class="drop">
        <div class="title">
            <%= drop.title %>
        </div>

        <div class="user <%= drop.output_class %>">
            <%= gravatar_for drop.user if drop.user %>
            <%= drop.output_user %>
        </div>

        <div class="content">
            <%= drop.content %>
        </div>
    </div>
<% end %></div>
