<% if !@user %>
    You can't edit other user's data :(
<% else %>

<% form_for(@user) {|f| %>
    <%= f.error_messages %>

    <div class="field">
        <div class="label"><%= f.label :name %></div>
        <input type="text" disabled value="<%= @user.name %>"/>
    </div>

    <div class="field">
        <div class="label"><%= f.label :email %></div>
        <%= f.text_field :email %>
    </div>
    
    <div class="actions">
        <%= f.submit 'Edit' %>
    </div>
<% } %>

<% end %>
