<% form_for(@user) {|f| %>
    <%= f.error_messages %>

    <div class="field">
        <div class="label"><%= f.label :name %></div>
        <%= f.text_field :name, :disabled => !current_user.modes[:can_change_user_name] %>
    </div>

    <div class="field">
        <div class="label"><%= f.label :email %></div>
        <%= f.text_field :email %> <%= f.check_box :email_show, :checked => @user.modes[:email_show] %>
        Show email address
    </div>

    <div class="field">
        <div class="label"><%= f.label :stuff %></div>
        <%= f.text_area :stuff, :rows => 8 %>
    </div>

    <% if @user.modes[:can_change_modes] %>
        <div class="field">
            <div class="lable"><%= f.label :modes %></div>
            <%= f.text_area :modes, :rows => 8 %>
        </div>
    <% end %>
    
    <div class="actions">
        <%= f.submit 'Edit' %>
    </div>
<% } %>
