<div class="code">
    <div class="language">
        <%= h SyntaxHighlighter.language(code.language, true) %>
        (<%= CodesHelper.output :owner, code %>)

        <% if (inDrop rescue false) %>
            (<a href='/codes/<%= code.id %>'>link</a>)
        <% end %>

        [<a href='/codes/<%= code.id %>.raw'>raw</a>]

        { <%= code.created_at %> }
    </div>

    <div class="source"><%= SyntaxHighlighter.new(code.language).highlight(code.content) %></div>
</div>
