<div class="project">
    <div class="name"><%= h @project.name %></div>

    <div class="owner"><%= gravatar_for @project.user %> <%= UsersHelper.output :user, @project.user %></div>

    <div class="page"><% if current_user && (current_user == @project.user || current_user.modes[:can_edit_projects]) %><div class="manage"><a href="/projects/edit/<%= escape @project.name %>">Edit</a><% if current_user.modes[:can_delete_projects] %> <a href="/projects/delete/<%= @project.id %>">Delete</a><% end %></div><% end %><%= FlowsHelper.output :content, @project.page %></div>
</div>
