<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <%= stylesheet_link_tag "theme/style", :media => 'screen' %>
</head>

<body>
    <div id="user_thingy">
        <% if !current_user %>
            <a href="/login">Login</a> <a href="/register">Register</a>
        <% else %>
            <a href="/users/edit/<%= current_user.id %>">Edit</a> <a href="/logout">Logout</a>
        <% end %>
    </div>

    <div id="menu">
        
    </div>

    <div id="container">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
    </div>

    <% if Rails.env.development? %>
        <div id="debug">
            <%= debug(params) %>
        </div>
    <% end %>
</body>
</html>
