<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <%= stylesheet_link_tag "theme/style", :media => 'screen' %>
</head>

<body>
    <div id="container">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
    </div>

    <% if Rails.env.development? %>
        <div id="debug">
            <%= debug(params) %>
        </div>
    <% end %>
</body>
</html>
