<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <%= stylesheet_link_tag "theme/style", :media => 'screen' %>
</head>

<body>
    <div id="navigation_menu">
        <a href="/">Home</a>
        <a href="/ocean">Ocean</a>
        <a href="/projects">Projects</a>
    </div>

    <div id="user_menu">
        <% if !current_user %>
            <span class="username">Anonymous</span>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% else %>
            <span class="username"><a href="<%= user_path current_user %>"><%= current_user.name %></a></span>
            <a href="/users/edit/<%= current_user.id %>">Edit</a>
            <a href="/logout">Logout</a>
        <% end %>
    </div>


    <div id="container">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
    </div>
</body>
</html>
